<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="/images/logo.png">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <!--CSS-->
        <link rel="stylesheet" href="/css/styles.css">
        <title>CryptoCoin | Home </title>
    </head>
<body> 
<%-include('header')%>


<section class="section-nfts pt-5">
    <form class="createnft-form container p-5" action="/edit/<%=nft.id%>?_method=PUT" method="POST">
        <h2>You are editing <%=nft.nick%></h2>
        <article  class="card-nft">
            <div>
                <img src="../nftPictures/<%=nft.image%>" alt="">
            </div>
            <div class="nft-info">
                <h5>ID: <%= nft.id %></h5>
                <label for="nick">Change Nick</label>
                <input type="text" value="<%= nft.nick %>" name="nick"><br><br>
                <label for="price">Change Price</label>
                <input type="number" min="1" name="price" value="<%= nft.price %>"> <br><br>   
                <button type="submit" class="container createnft-btn" value="save">Save changes</button>            
            </div>
    </form>
</section>

</body>