<%-include('head', {title: "CryptoCoin | Home"})%>
<body>
    <%- include('header') %>
    <main>
        <section class="nft-community container">
            <h2>NFT Community</h2>
        </section>
        <br><br><br>

        <section class="container section-nfts">
            <% for(i = 0; i<nft.length; i++){ %>
            <article class="card-nft mb-5">
                <div>
                    <img src="nftPictures/<%= nft[i].image %>" alt="">
                </div>
                <div class="nft-info">
                    <h3>Name: <%= nft[i].nick %> </h3>
                    <h5>ID: <%= nft[i].id %></h5>
                    <p>Price: $<%= nft[i].price %></p>
                    <a href="/detail/<%= nft[i].id%>">Buy Now!</a>
                </div>
            </article>
            <%}%>
        </section>
        
    </main>
    
</body>
</html>