<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/logo.png">
    <!--CSS-->
    <link rel="stylesheet" href="/css/styles.css">
    <title>CryptoCoin | Home </title>
</head>
<body>
    <%- include('header') %>
    <main>
        <section class="nft-community container">
            <h2>NFT Community</h2>
        </section>
        <br><br><br>

        <section class="container section-nfts">
            <% for(i = 0; i<nft.length; i++){ %>
            <article class="card-nft">
                <div>
                    <img src="images/logo.png" alt="">
                </div>
                <div class="nft-info">
                    <h3>Name: <%= nft[i].nick %> </h3>
                    <h5>ID: <%= nft[i].id %></h5>
                    <p>Price: $<%= nft[i].price %></p>
                    <a href="#">Buy Now!</a>
                </div>
            </article>
            <%}%>
        </section>
        
    </main>

    <% //for(i = 0; i<datos.length; i++){ %>
    <!-- <h3>Nick: <%= //datos[i].nick %></h3>
    <h3>id: <%= //datos[i].id %> </h3> -->
    
    <%//}%>
    
</body>
</html>